.Account-Content {
  background-color: $Main-Grey;
  width: 100%;
  height: 100%;

  .Connexion-Card{
    background-color: $Pale-Grey;
    color: white;

    .Card-Img{
      margin: auto;
      height: 50px;
      width: auto;
      padding: 10px;
    }
  }
}
