page-store {

  .Store-Input{
    background-color: $Ionic-Grey;
    color: white;
  }

  .Store-Content{
    background-color: $Main-Grey;

    .Cheaper-Game{
      border: 2px solid $Main-Purple;
      font-size: 7pt;
    }

    .percentage-sale{
      vertical-align: top;
      background-color: $Main-Purple;
      font-size: 7pt !important;
    }

    .Store-Content-Card{
      background-color: $Pale-Grey;
      padding-left: 0px;
      padding-right: 0px;
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;

      .Store-Content-Card-Image-Holder{
        .Store-Content-Card-Image{
          object-fit: cover;
          height: 70px;
          width: 55px;
          border: 1px solid $Main-Grey;
          object-position: 50% 50%;
        }
      }

      .Store-Text-Container{

        .Store-InLibrary{
          position: absolute;
          top: -5px;
          right: -5px;
          width: 100px;
        }

        .Store-Content-Card-Title{
          color: white;
        }

        .Store-Content-Card-Text{
          font-size: 9pt;
          color: white;
        }

        .Store-Content-Card-Img-Container{
          display:inline-block;
          margin-top: 4px;

          .Store-Content-Card-Img{
            width: 24px;
            height: 24px;
            margin-right: 4px;
          }
        }
      }
    }

    .spinnerGameList {
      position: absolute;
      fill: white;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
