.modal-background{
  background-color: $Main-Grey;
  height: 100%;
  width: 100%;

  .modal-image{
    width: 100%;
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid $Main-Purple;
  }

  .title-item{
    background-color: rgba(0,0,0,0);
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;

    div{
      border-bottom: 0px !important;
    }

    .modal-title{
      color: white;
      font-size: 15pt;
    }

    .modal-description{
      color: white;
      font-size: 10pt;
      height: auto;
    }
  }

  .modal-grid{
    border-radius: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: $Ionic-Grey;
    width: calc(100% - 32px);
    color: white;
    font-size: 12pt;

    .deal-store-row{
      border-bottom: 1px solid $Main-Grey;

      .deal-store-image{
        height: 25px;
      }

      .deal-store-sale{
        vertical-align: top;
        background-color: $Main-Purple;
        font-size: 7pt;
      }
    }
  }
}
